.calendar-month {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

.header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
}

.weekday {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.cells-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}

.cell {
  position: relative;
  margin: 0;
  flex-basis: calc(95% / 7);
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: solid 0.1px #dde4ec6b;
}

.currentDay {
  color: #fff;
  background-color: #007bff;
}
